/**
 * 12.0 Content
 */

.secondary {
    background-color: $navigation-bg;
    display: none;
    padding: 0 20px;
    @include media($break-desktop-small) {
        box-shadow: none;
        display: block;
        margin: 0;
    }
}

.secondary.toggled-on {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: block;
}

.img__inline {
    margin-bottom: 20px;
    @include media($break-tablet-small) {
        float: left;
        clear: left;
        margin: 0 20px 20px 0;
    }
}
