/**
 * 13.0 Footer
 */

.footer {
    background-color: $colour-footer-bg;
    color: $colour-footer-text;
    padding: 0 7.6923%;
    a {
        color: $colour-footer-text;
    }
    &__details {
        margin-bottom: 1.333em;
        &-item {
            text-align: center;
            margin: 0;
        }
    }
    &__links, &__social {
        @extend %no-list-style;
        display: table;
        table-layout: fixed;
        margin: 0 auto 1.333em;
        &-item {
            position: relative;
            display: table-cell;
            padding: 0 10px;
        }
    }
    &__social {
        &-item {
            @include font-size(30);
        }
    }
    &__links {
        margin-top: 1.333em;
        &-item {
            &:after {
                content: "|";
                position: absolute;
                right: -3px;
                top: 0;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
    @include media($break-mobile-large) {
        padding: 0 9.0909%;
        &__content {
            border-top: 0;
            margin: 0 auto;
            padding: 3.84615% 0;
            max-width: 1045px;
        }
    }
    @include media($tablet-small) {
        @include clearfix;

        &__details {
            float: left;
            width: 40%;

            &-item {
                text-align: left;
            }
        }

        &__social {
            float: right;
        }
        .subscribe {
            float: right;
            clear: right;
            width: 60%;
        }
        &__links {
            clear: both;
        }
    }
    @include media($tablet-large) {
        &__details {
            float: left;
        }
        &__social {
            float: right;
            margin-left: 0;
        }
    }
    @include media($break-desktop-small) {
        padding: 0 10%;
    }
    @include media(new-breakpoint(min-width 68.125em)) {
        padding: 0;
        .subscribe {
            width: 40%;
        }
    }
}