/**
 * 10.0 Header
 */

.site-header {
    background-color: #fff;
    padding: 20px;
}

.site-branding {
    min-height: 2em;
    position: relative;
    @include media($break-desktop-small) {
        @include clearfix;
    }
}

.site-title {
    @include font-size(22);
    font-weight: 700;
    line-height: 1.3636;
    margin-bottom: 0;
}

.site-description {
    display: none;
    @include font-size(12);
    font-weight: 400;
    line-height: 1.5;
    margin: 0.5em 0 0;
    opacity: 0.7;
}
.site-logo {
    max-width: 250px;
    @include media($break-desktop-small) {
        float: left;
    }
}
.slider {
    position: relative;
}
.slider__overlay {
    text-align: center;
    padding: 15px 0;
    background-color: $colour-slider-caption-background;
    @include media($break-tablet-small) {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,.5);
    }
}