.highlights {
    clear: both;
    margin-bottom: 32px;

    &__link {
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    &__link.highlights__link {
        display: block;
        text-align: center;
        border-bottom: none;
        margin-bottom: 32px;
    }

    &__text-wrapper,
    &__left,
    &__right {
        height: 250px;
    }

    &__text-wrapper {
        display: table;
        width: 100%;
        background-color: rgba(0,0,0,0.1);
    }

    &__left,
    &__right,
    &__single {
        background-position: center;
        background-size: cover;
    }

    &__text {
        display: table-cell;
        vertical-align: middle;
        @include font-size(27);
        font-weight: bold;
        color: $colour-highlight-text;
    }

    @include media($break-mobile-large) {
        @include clearfix;
        &__text-wrapper, &__left, &__right, &__single {
            height: 300px;
        }
        &__left, &__right {
            width: 50%;
        }
        &__left {
            float: left;
        }
        &__right {
            float: right;
        }
        &__link.highlights__link {
            margin-bottom: 0;
        }
    }
}