/**
 * 6.2 Menus
 */

.main-navigation {
    a {
        display: block;
        padding: 0.8em;
        position: relative;
        text-decoration: none;

        @include media($break-tablet-small) {
            padding: 1em;
        }
        @include media($break-tablet-large) {
            padding: 1.2em;
        }
    }
    ul {
        @extend %no-list-style;

        .toggled-on {
            display: block;

            @include media($break-desktop-small) {
                display: none;
            }
        }
    }

    ul ul {
        display: none;
        background-color: $navigation-bg-alt;

        @include media($break-desktop-small) {
            background-color: $navigation-bg;
        }
    }
    li {
        border-top: 1px solid #eaeaea;
        border-top: 1px solid rgba(51, 51, 51, 0.1);
        position: relative;
        &:last-child {
            border-bottom: 1px solid #eaeaea;
            border-bottom: 1px solid rgba(51, 51, 51, 0.1);
        }
        @include media($break-desktop-small) {
            border: 0;
        }
    }
    .current-menu-item > a,
    .current-menu-ancestor > a {
        font-weight: 700;
    }
    .nav-menu {
        margin-bottom: 0;
    }
    .nav-menu > ul > li:first-child,
    .nav-menu > li:first-child {
        border-top: 0;
    }
    .menu-item-description {
        color: #707070;
        color: rgba(51, 51, 51, 0.7);
        @include font-size(12);
        margin-top: 0.5em;
    }
    .nav-menu .sub-menu {
        .menu-item {
            display: list-item;
        }
    }
    @include media($break-desktop-small) {
        .menu-item-description {
            @include font-size(12);
        }
        .nav-menu {
            display: table;
            .menu-item {
                display: table-cell;
            }
        }
    }
    @include media($break-desktop-medium) {

        .menu-item-description {
            line-height: 1.4583;
            margin-top: 0.25em;
        }
    }
    @include media($break-desktop-large) {

        .menu-item-description {
            @include font-size(13);
            margin-top: 0.3077em;
        }
    }
}

.no-js .main-navigation ul ul {
    display: block;
}

/* styling the desktop dropdowns */
@include media($break-desktop-small) {
    .nav-menu {
        > .menu-item {
            position: relative;
            &:hover {
                .sub-menu {
                    background-color: $navigation-bg;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 9999;
                    display: block;
                    margin: 0;
                    min-width: 250px;
                }
            }
        }
    }
}

.dropdown-toggle {
    background-color: transparent;
    border: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    height: 42px;
    padding: 0;
    position: absolute;
    text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
    top: 9px;
    right: 0;
    width: 42px;
    &:after {
        color: #333;
        content: "\f431";
        font-size: 24px;
        line-height: 42px;
        position: relative;
        top: 0;
        left: 1px;
        width: 42px;
    }
    &:hover,
    &:focus {
        background-color: #eaeaea;
        background-color: rgba(51, 51, 51, 0.1);
    }
    &:focus {
        outline: 1px solid #c1c1c1;
        outline: 1px solid rgba(51, 51, 51, 0.3);
    }
    &.toggle-on:after {
        content: "\f432";
    }
    @include media($break-desktop-small) {
        display: none;
    }
}

.secondary-toggle {
    background-color: transparent;
    border: 1px solid rgba(51, 51, 51, 0.1);
    height: 42px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 42px;
    &:before {
        color: #333;
        content: "\f419";
        line-height: 40px;
        width: 40px;
    }
    &:hover,
    &:focus {
        background-color: transparent;
        border: 1px solid #c1c1c1;
        border: 1px solid rgba(51, 51, 51, 0.3);
        outline: 0;
    }
    &.toggled-on:before {
        content: "\f405";
        font-size: 32px;
        position: relative;
        top: 1px;
        left: -1px;
    }
}

.post-navigation {
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    font-weight: 700;
    a {
        display: block;
        padding: 3.8461% 7.6923%;
    }
    span {
         display: block;
    }
    .meta-nav {
        color: #707070;
        color: rgba(51, 51, 51, 0.7);
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 0.04em;
        line-height: 1.5;
        position: relative;
        text-transform: uppercase;
        z-index: 2;
    }
    .post-title {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.3333;
        position: relative;
        z-index: 2;
    }
    .nav-next,
    .nav-previous {
        background-position: center;
        background-size: cover;
        position: relative;
    }
    a:before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    a:hover:before,
    a:focus:before {
        opacity: 0.5;
    }
    .meta-nav {
        opacity: 0.8;
    }
    div + div {
        border-top: 1px solid #eaeaea;
        border-top: 1px solid rgba(51, 51, 51, 0.1);
    }
}

.pagination {
    background-color: #fff;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    font-family: "Noto Sans", sans-serif;
}

.pagination .nav-links {
    min-height: 3.2em;
    position: relative;
    text-align: center;
}

/* reset screen-reader-text */
.pagination .current .screen-reader-text {
    position: static !important;
}

.pagination .page-numbers {
    display: none;
    line-height: 3.2em;
    padding: 0 0.6667em;
}

.pagination .page-numbers.current {
    text-transform: uppercase;
}

.pagination .current {
    display: inline-block;
    font-weight: 700;
}

.pagination .prev,
.pagination .next {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    background-color: #333;
    color: #fff;
    display: inline-block;
    height: 48px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 48px;
}

.pagination .prev:before,
.pagination .next:before {
    font-size: 32px;
    height: 48px;
    line-height: 48px;
    position: relative;
    width: 48px;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
}

.pagination .prev {
    left: 0;
}

.pagination .prev:before {
    content: "\f430";
    left: -1px;
}

.pagination .next {
    right: 0;
}

.pagination .next:before {
    content: "\f429";
    right: -1px;
}

.image-navigation,
.comment-navigation {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    font-size: 1.2rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.image-navigation a,
.comment-navigation a {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
}

.image-navigation a:hover,
.image-navigation a:focus,
.comment-navigation a:hover,
.comment-navigation a:focus {
    color: #333;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
    display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
    content: "\2215";
    font-weight: 400;
    margin: 0 0.7em;
}

.image-navigation .nav-previous a:before,
.comment-navigation .nav-previous a:before {
    content: "\f430";
    margin-right: 0.2em;
    position: relative;
}

.image-navigation .nav-next a:after,
.comment-navigation .nav-next a:after {
    content: "\f429";
    margin-left: 0.2em;
    position: relative;
}

.comment-navigation {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    border-bottom: 1px solid #eaeaea;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding: 2em 0;
}

.comments-title + .comment-navigation {
    border-bottom: 0;
}

.image-navigation {
    padding: 0 7.6923%;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty) {
    margin-bottom: 2em;
}