.metaslider {
    margin-bottom: 20px;
    .flexslider {
        max-height: 524px !important;
        overflow: hidden;

        @include media($desktop-xlarge) {
            .slides {
                -webkit-transform: translateY(-15%);
                -moz-transform: translateY(-15%);
                -ms-transform: translateY(-15%);
                transform: translateY(-15%);
            }
        }
    }
}
.flex-direction-nav {
    .flex-prev,
    .flex-next {
        border-bottom: 0;
    }
}