.subscribe {
    &__label {
        display: block;
        margin-bottom: 10px;
    }
    &__input, &__button {
        float: left;
    }
    .subscribe__input {
        width: 70%;
    }
    &__button {
        width: 30%;
    }
    @include media($break-tablet-small) {
        &__input {
            .subscribe & {
                width: 65%;
                line-height: 40px;
                padding: 0 10px;
            }
        }
        &__button {
            width: 35%;
        }
    }
    @include media($break-tablet-large) {
        &__input {
            .subscribe & {
                line-height: 46px;
            }
        }
    }
    @include media($break-desktop-small) {
        &__input {
            .subscribe & {
                line-height: 34px;
            }
        }
    }
    @include media($break-desktop-medium) {
        &__input {
            .subscribe & {
                line-height: 38px;
            }
        }
    }
}