/**
 * 12.2 Post Formats
 */

.format-aside .entry-title,
.format-image .entry-title,
.format-video .entry-title,
.format-quote .entry-title,
.format-gallery .entry-title,
.format-status .entry-title,
.format-link .entry-title,
.format-audio .entry-title,
.format-chat .entry-title {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3333;
    margin-bottom: 1.3333em;
}

.format-link .entry-title a:after {
    content: "\f442";
    font-size: 24px;
    height: 24px;
    position: relative;
    top: 0;
    width: 24px;
}

.blog .format-status .entry-title,
.archive .format-status .entry-title {
    display: none;
}