/**
 * 12.1 Posts and pages
 */

.hentry {
    background-color: #fff;
    padding-top: 7.6923%;
    position: relative;
}

.hentry.has-post-thumbnail {
    padding-top: 0;
}

.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: -webkit-calc(7.6923% + 24px);
    padding-top: calc(7.6923% + 24px);
}

.hentry + .hentry {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.post-thumbnail {
    border: 0;
    display: block;
    margin-bottom: 2.4em;
}
.post-thumbnail img {
    display: block;
    margin: 0 auto;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
    opacity: 0.85;
}

.entry-header {
    padding: 0 7.6923%;
    @include media($break-mobile-large) {
        padding: 0 9.0909%;
    }
    @include media($break-desktop-small) {
        padding: 0 10% 10%;
    }
    @include media(new-breakpoint(min-width 68.125em)) {
        max-width: 1045px;
        margin: 0 auto;
        padding: 0;
    }
}

.entry-title {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.1538;
    margin-bottom: 0.9231em;
}

.entry-content__padding,
.entry-summary {
    padding: 0 7.6923% 7.6923%;
    @include media($break-mobile-large) {
        padding: 0 9.0909% 9.0909%;
    }
    @include media($break-desktop-small) {
        padding: 0 10% 10%;
    }
    @include media(new-breakpoint(min-width 68.125em)) {
        max-width: 1045px;
        margin: 0 auto;
        padding: 0;
    }
}

.entry-content > :last-child,
.entry-summary > :last-child {
    margin-bottom: 0;
}

.entry-content,
.entry-summary,
.page-content,
.comment-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.entry-content h1,
.entry-summary h1,
.page-content h1,
.comment-content h1 {
    @include font-size(26);
    line-height: 1.1538;
    margin-top: 1.8462em;
    margin-bottom: 0.9231em;
}

.entry-content h2,
.entry-summary h2,
.page-content h2,
.comment-content h2 {
    @include font-size(22);
    line-height: 1.3636;
    margin-top: 2.1818em;
    margin-bottom: 1.0909em;
}

.entry-content h3,
.entry-summary h3,
.page-content h3,
.comment-content h3 {
    @include font-size(18);
    line-height: 1.3333;
    margin-top: 2.6667em;
    margin-bottom: 1.3333em;
}

.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.page-content h4,
.page-content h5,
.page-content h6,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
    @include font-size(15);
    line-height: 1.2;
    margin-top: 3.2em;
    margin-bottom: 1.6em;
}

.entry-content h5,
.entry-content h6,
.entry-summary h5,
.entry-summary h6,
.page-content h5,
.page-content h6,
.comment-content h5,
.comment-content h6 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.entry-content > h1:first-child,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child,
.entry-summary > h1:first-child,
.entry-summary > h2:first-child,
.entry-summary > h3:first-child,
.entry-summary > h4:first-child,
.entry-summary > h5:first-child,
.entry-summary > h6:first-child,
.page-content > h1:first-child,
.page-content > h2:first-child,
.page-content > h3:first-child,
.page-content > h4:first-child,
.page-content > h5:first-child,
.page-content > h6:first-child,
.comment-content > h1:first-child,
.comment-content > h2:first-child,
.comment-content > h3:first-child,
.comment-content > h4:first-child,
.comment-content > h5:first-child,
.comment-content > h6:first-child {
    margin-top: 0;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.pingback .comment-body > a {
    border-bottom: 1px solid #333;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.page-content a:hover,
.page-content a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus {
    border-bottom: 0;
}

.entry-content a img,
.entry-summary a img,
.page-content a img,
.comment-content a img {
    display: block;
}

.entry-content .more-link,
.entry-summary .more-link:after {
    white-space: nowrap;
}

.entry-content .more-link:after,
.entry-summary .more-link:after {
    content: "\f429";
    font-size: 16px;
    position: relative;
    top: 5px;
}

.author-info {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    margin: 0 7.6923%;
    padding: 7.6923% 0;
}

.author-info .avatar {
    float: left;
    height: 36px;
    margin: 0 1.6em 1.6em 0;
    width: 36px;
}

.author-heading {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.04em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.author-title {
    clear: none;
}

.author-bio {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    overflow: hidden;
    padding-bottom: 1px;
}

.author-description {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.author-description a {
    border-bottom: 1px solid #333;
}

.author-description a:hover,
.author-description a:focus {
    border-bottom: 0;
}

.author-description > :last-child {
    margin-bottom: 0;
}

.author-link {
    white-space: nowrap;
}

.author-link:after {
    content: "\f429";
    position: relative;
    top: 1px;
}

.entry-footer {
    background-color: #f7f7f7;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 3.8461% 7.6923%;
}

.entry-footer a {
    border-bottom: 1px solid transparent;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
}

.entry-footer a:hover {
    border-bottom: 1px solid #333;
}

.entry-footer a:hover,
.entry-footer a:focus {
    color: #333;
}

.sticky-post {
    background-color: #333;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.04em;
    padding: 0.25em 0.5em;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

.updated:not(.published) {
    display: none;
}

.sticky .posted-on {
    display: none;
}

.posted-on:before,
.byline:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.entry-format:before,
.edit-link:before,
.full-size-link:before {
    margin-right: 2px;
    position: relative;
}

.posted-on,
.byline,
.cat-links,
.tags-links,
.comments-link,
.entry-format,
.full-size-link {
    margin-right: 1em;
}

.format-aside .entry-format:before {
    content: "\f101";
}

.format-image .entry-format:before {
    content: "\f473";
}

.format-gallery .entry-format:before {
    content: "\f103";
}

.format-video .entry-format:before {
    content: "\f104";
}

.format-status .entry-format:before {
    content: "\f105";
}

.format-quote .entry-format:before {
    content: "\f106";
}

.format-link .entry-format:before {
    content: "\f107";
}

.format-chat .entry-format:before {
    content: "\f108";
}

.format-audio .entry-format:before {
    content: "\f109";
}

.posted-on:before {
    content: "\f307";
}

.byline:before {
    content: "\f304";
}

.cat-links:before {
    content: "\f301";
}

.tags-links:before {
    content: "\f302";
}

.comments-link:before {
    content: "\f300";
}

.full-size-link:before {
    content: "\f402";
}

.edit-link:before {
    content: "\f411";
}

.comments-link,
.edit-link {
    white-space: nowrap;
}

.page-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    padding: 7.6923%;
}

.page-title {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3333;
}

.taxonomy-description {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    padding-top: 0.4em;
}

.taxonomy-description a {
    border-bottom: 1px solid #333;
}

.taxonomy-description a:hover,
.taxonomy-description a:focus {
    border-bottom: 0;
}

.taxonomy-description > :last-child {
    margin-bottom: 0;
}

.page-content {
    background-color: #fff;
    padding: 7.6923%;
}

.page-content > :last-child {
    margin-bottom: 0;
}

.page-links {
    clear: both;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 1.3333em;
}

.page-links a,
.page-links > span {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    height: 2em;
    line-height: 2;
    margin: 0 0.3333em 0.3333em 0;
    text-align: center;
    width: 2em;
}

.page-links a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.page-links a:hover,
.page-links a:focus {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
    border-color: transparent;
    color: #fff;
}

.page-links > .page-links-title {
    border: 0;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    height: auto;
    margin: 0;
    padding-right: 0.5em;
    width: auto;
}

.entry-attachment {
    margin-bottom: 1.6em;
}

.type-attachment .entry-title {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.entry-caption {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.5;
    padding-top: 0.5em;
    word-wrap: break-word;
}

.entry-caption > :last-child {
    margin-bottom: 0;
}

.site {
    margin: 0 auto;
}

.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: inherit;
}

@include media($break-mobile-large) {

    .hentry + .hentry,
    .page-header + .hentry,
    .page-header + .page-content {
        margin-top: 7.6923%;
    }

    .hentry + .hentry {
        border-top: 0;
    }
}
@include media($break-desktop-small) {
    .hentry {
        padding-top: 8.3333%;
    }

    .hentry + .hentry,
    .page-header + .hentry,
    .page-header + .page-content {
        margin-top: 8.3333%;
    }
}