.side-block {
    margin-bottom: 20px;

    &__link {
        &:hover {
            color: $colour-text;
        }
    }

    &__content {
        background-color: $colour-side-block-content-bg;
        padding: 20px;

        .side-block__link:hover & {
            background-color: #ddd;
        }

        h1 {
            margin-top: 0;
            @include font-size(18);
            color: $colour-side-block-title;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.partners {
    display: table;
    width: 100%;
    margin-bottom: 20px;

    &__cell {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding: 0 20px;
    }
}