.site-switch {
    position: relative;
    @include media($break-desktop-small) {
        float: right;
        &:hover {
            .site-switch__current {
                border-bottom: none;
            }
            .site-switch__options {
                display: block;
            }
        }
    }
    &__list {
        @extend %no-list-style;
        margin-bottom: 0;
        @include clearfix;
        span {
            @extend %visuallyhidden;
        }
    }
    &__item {
        float: left;
        &-label {
            margin-bottom: 0;
            padding: 0.8em 0;
        }
        @include media($break-desktop-small) {
            padding-bottom: 6px;
            &:last-child {
                padding-bottom: 0;
            }
            &-label {
                display: none;
            }
        }
    }
    &__current {
        display: none;
        &-link {
            span {
                @extend %visuallyhidden;
            }
        }
        @include media($break-desktop-small) {
            display: block;
            padding: 6px 10px;
            border: 1px solid $colour-border-default;
        }
    }
    &__options {
        @include media($break-desktop-small) {
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 2;
            background-color: $white;
            padding: 0 10px 10px;
            border: 1px solid $colour-border-default;
            border-top: none;
        }
    }
}
.menu-main-nav-container {
    .site-switch__item {
        border-top: none;
        margin-right: 17px;
    }
    .site-switch__link {
        padding: 17px 14px;
    }
}
