.button {
    background-color: $colour-button-bg;
    color: $colour-button-text;
    @include font-size(12);
    font-weight: 700;
    padding: 0.7917em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    &.button {
        border: none;
    }
    &:hover {
        text-decoration: none;
        color: $colour-button-text;
    }
    &--booking {
        display: inline-block;
        @include font-size(16);
    }
}