/* Base Colours */
$white: #fff;

$brand-primary: #006938;
$brand-secondary: #f8ea47;
$light-grey: #f1f1f1;
$grey: #ddd;

$colour-text: #333;

$navigation-bg: $light-grey;
$navigation-bg-alt: $grey;
$colour-border-default: rgba(51, 51, 51, 0.1);

/* Footer */
$colour-footer-bg: $brand-primary;
$colour-footer-text: $white;

/* Highlight text */
$colour-highlight-text: $white;

/* Forms */
$colour-button-bg: $brand-secondary;
$colour-button-text: $colour-text;

/* Slider */
$colour-slider-caption-background: $navigation-bg;

/* Side Block */
$colour-side-block-content-bg: $light-grey;
$colour-side-block-title: $brand-primary;