@import "../neat/neat-helpers";

/* Grid settings */
$outer-gutter: 20px;
$max-width   : 1196px;
$column      : 74px;
$gutter      : 28px;

/* breakpoints */
$mobile-small-landscape:    em(468,16);
$mobile-large:              em(620,16);
$tablet-small:              em(740,16);
$tablet-large:              em(880,16);
$desktop-small:             em(955,16);
$desktop-medium:            em(1024,16);
$desktop-large:             em(1240,16);
$desktop-xlarge:            em(1403,16);

$break-mobile-small-landscape:  new-breakpoint(min-width $mobile-small-landscape);
$break-mobile-large:            new-breakpoint(min-width $mobile-large);
$break-tablet-small:            new-breakpoint(min-width $tablet-small);
$break-tablet-large:            new-breakpoint(min-width $tablet-large);
$break-desktop-small:           new-breakpoint(min-width $desktop-small);
$break-desktop-medium:          new-breakpoint(min-width $desktop-medium);
$break-desktop-large:           new-breakpoint(min-width $desktop-large);
$break-desktop-xlarge:          new-breakpoint(min-width $desktop-xlarge);