@include media($break-tablet-small) {
    .col2 {
        @include clearfix;
    }
    .col2__left {
        float: left;
        width: 60%;
    }
    .col2__right {
        float: left;
        width: 35%;
        margin-left: 5%;
        padding-top: 48px;
    }
}