.page {
    .entry-header {
        display: none;
    }
    .site-main {
        .page {
            padding-top: 0;
        }
    }
}

.page__banner {
    max-height: 524px;
    padding-top: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    @include media($break-desktop-small) {
        height: 376px;
        padding-top: 0;
    }
}