.intro {
    @include media($break-mobile-small-landscape) {
        &__img {
            width: 50%;
        }
    }
    @include media($break-desktop-small) {
        &__img {
            width: 35%;
        }
    }
}

.location {
    @include clearfix;
    margin-bottom: 32px;
    &__map {
        margin-bottom: 32px;
    }
    @include media($break-desktop-small) {
        &__map {
            float: right;
            width: 50%;
            margin-bottom: 0;
        }
        &__text {
            float: left;
            width: 50%;
            padding-right: 25px;
        }
    }
}