/* Tripadvisor widget */
#CDSWIDREST .wrapperLink .rightSide {
    box-sizing: content-box;
}
.restaurant-logos {
    display: table;
    margin-bottom: 1.6em;
    &__cell {
        display: table-cell;
        &--left {
            padding-right: 15px;
            img {
                max-width: 120px;
            }
        }
        &--right {
            padding-left: 15px;
            img {
                max-width: 100px;
            }
        }
    }
}