.room {
    @include media($break-mobile-large) {
        @include clearfix;
    }
    &__image, &__content {
        @include media($break-mobile-large) {
            float: left;
            width: 50%;
        }
    }
    &__content {
        h2 {
            margin-top: 0;
        }
        @include media($break-mobile-large) {
            padding-left: 25px;
        }
    }
}